.image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;

  &__logo {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 40%;
    max-height: 40%;
    animation: blinking;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    will-change: opacity;

    &.is-static {
      animation: none;
    }
  }
}

@keyframes blinking {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.4;
  }
}